.form-control{
  width: 250px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
body {
  text-align: center;
}
form {
  display: inline-block;
}
.form-group{
  text-align: center;
}
.entries{
  width: 1000px;
}
.name1{
  color: blue;
  font-family: fantasy;
}
.name2{
  color: red;
  font-family: fantasy;
}
.name3{
  color: yellowgreen;
  font-family: fantasy;
}
.name4{
  color: green;
  font-family: fantasy;

}
.name5{
  color: purple;
  font-family: fantasy;
}
.getWinner{
background-color: darkgreen;
  font-weight: bold;
}
.reset{
  background-color:red;
  font-weight: bold;
}
.form{

  padding: 50px;
  text-align: center;
  background: darkred;
  font-size: 35px;
}
.gentxt{
  font-weight: bolder;
  color: black;
}

