<body>
<form>
  <div class="form-group">
    <label class="name1">Player 1: {{ENTRIES.player1}}</label>
    <div>Wins: {{wins[0]}}</div>
    <label class="name2">Player 2: {{ENTRIES.player2}}</label>
    <div>Wins: {{wins[1]}}</div>
    <label class="name3">Player 3: {{ENTRIES.player3}}</label>
    <div>Wins: {{wins[2]}}</div>
    <label class="name4">Player 4: {{ENTRIES.player4}}</label>
    <div>Wins: {{wins[3]}}</div>
    <label class="name5">Player 5: {{ENTRIES.player5}}</label>
    <div>Wins: {{wins[4]}}</div>

    <p>
      {{num}}
    </p>
    <button type="button" (click)="onSubmit()" value="Print"> Generate Winner </button> <span>
    <button type="reset" (click)="reset()" value="Reset">Reset</button>
  </span>
    <div *ngIf="clicked">
      <div *ngIf="num===0">{{ENTRIES.player1}} Wins</div>
      <div *ngIf="num===1">{{ENTRIES.player2}} Wins</div>
      <div *ngIf="num===2">{{ENTRIES.player3}} Wins</div>
      <div *ngIf="num===3">{{ENTRIES.player4}} Wins</div>
      <div *ngIf="num===4">{{ENTRIES.player5}} Wins</div>
    </div>



  </div>
</form>
