<body>
<form>
  <div class="form-group">
    <label for="name"class="namelabel">Name</label>
    <input type ="name" class="form-control" id="name"  placeholder="Jonny Doe"
           [(ngModel)]="entry.name" name="name">
  </div>
  <div class="form-group">
    <label for="email"class="emaillabel">Name</label>
    <input type ="email" class="form-control" id="email"  placeholder="JonnyDoe@hotmail.net"
           [(ngModel)]="entry.email" name="email">
  </div>
  <div class="form-group">
    <label for="number"class="numberlabel">Name</label>
    <input type ="number" class="form-control" id="number"  placeholder="812-867-5309"
           [(ngModel)]="entry.number" name="number">
  </div>
  <button type="button" (click)="add()" value="Add"> Add </button>
  <button type="button" (click)="submit()" value="Submit"> Submit </button>
  <div *ngIf="clicked">
    <div>
      <p>Name: {{entry.name}}<span class="tab"></span> Email: {{entry.email}}<span class="tab"></span>Number: {{entry.number}}</p>
    </div>
    </div>
  <div *ngIf="submitted">
      <div *ngFor="let entry of entries">
        <p>Name: {{entry.name}}<span class="tab"></span> Email: {{entry.email}}<span class="tab"></span>Number: {{entry.number}}</p>
      </div>
  </div>
</form>
</body>

